.App {
  text-align: center;
}

.control-buttons {
  position: relative;
  z-index: 1000;
}

.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    z-index: 1;
    text-shadow: 2px 2px 4px #000000;
}