body {/* Disposición automática */
/* index Español */

background: #FFFFFF;

}

.index {/* Disposición automática */
  height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5dvh;
}

p {/* ¡Hola! Bienvenido al mapa interactivo del Metro de Sevilla */

width: 70dvw;

/* M3/headline/medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;

color: #000000;
margin: 0;
}

h1 {/* ¡Hola! Bienvenido al mapa interactivo del Metro de Sevilla */

width: 80dvw;

/* M3/headline/medium */
font-family: 'Roboto';
font-style: normal;

color: #000000;
margin: 0;

}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 12px 24px;
  gap: 8px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;

  color: #FFFFFF;
  background-color: #0e7e30;
  border: none;
  border-radius: 50px;
}

.home {
  height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5dvh;
}